<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hi, I am Aryan Tiwari, A Full Stack Web Dev in Node Js">
    <meta name="keywords" content="Web Developer, Web Dev,Aryan, Tiwari, Aryan Tiwari, NSUT, Aryan6600">
    <meta name="author" content="Aryan Tiwari">
    <link rel="shortcut icon" href="/static/about/me.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="/static/about/style.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>Aryan Tiwari | Full Stack Web Dev | </title>
</head>

<body>
    <nav class="navbar shadow-on-scroll" id="navbar">
        <h1 class="navbar-brand">
            Aryan Tiwari
            <span>Full Stack Developer</span>
        </h1>
        <div class="navbar-toggler" data-toggle="nav">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="collapse" id="nav">
            <ul class="navbar-nav">
                <li><a href="#about" class="navbar-closer" class="active navbar-closer" data-toggle="nav">About</a></li>
                <li><a href="#projects" class="navbar-closer" data-toggle="nav">Projects</a></li>
                <li><a href="#skills" class="navbar-closer" data-toggle="nav" >Expertise</a></li>
                <li><a href="/blog" class="navbar-closer" data-toggle="nav" >Blog</a></li>
                <li><a href="/store" class="navbar-closer" data-toggle="nav" >Store</a></li>
                <!-- <li><a class="btn modal-toggler" data-toggle="appointment">Appointment</a></li> -->
            </ul>
        </div>
    </nav>
    <section class="aboutme" id="about">
        <div class="profile">
            <div class="part1">
                <div class="img-wrapper">
                    <img src="/static/about/me.jpeg" alt="">
                </div>
                <h1>Aryan Tiwari</h1>
                <div class="actions">
                    <a href="#skills" class="btn" >Skills</a>
                    <div class="spacer"></div>
                    <a href="#projects" class="btn special">Projects</a>
                </div>
                <div class="social-media">
                    <a href="https://www.instagram.com/_aryan_6600">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                    <a href="https://www.linkedin.com/in/aryan-tiwari-4ba003379">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                    <a href="https://github.com/Aryan6600">
                        <ion-icon name="logo-github"></ion-icon>
                    </a>
                </div>
            </div>
            <div class="part2">
                <h2>Hi,</h2>
                <p>I am an Full stack Web Developer, with my primary language as Node Js , also have done web dev in
                    Python. Have some prior experience in App Developement using React Native and Flutter.</p>
                <p>Intested in learning Data Science and Machine Learning.</p>
                <p>I am looking for people to collaborate with them and supplement my lower experience by working on
                    real world projects</p>
            </div>
        </div>
        <div class="content" id="cnt">
            <h2>Hi,</h2>
            <p>I am an Full stack Web Developer, with my primary language as Node Js , also have done web dev in
                    Python. Have some prior experience in App Developement using React Native and Flutter.</p>
                <p>Intested in learning Data Science and Machine Learning.</p>
                <p>I am looking for people to collaborate with them and supplement my lower experience by working on
                    real world projects</p>
        </div>
    </section>
    <section class="projects common" id="projects">
        <div class="container">
            <h2>Projects Completed</h2>
            <div class="grid-wrapper">
                <div class="grid">
                    <div class="card">
                        <h3>Projects Management System</h3>
                        <p>A Simple Python App to keep Your every project at only a single click away . <br>
                            Created using Node Js , and Python<br>
                            Node Js is used as a server and a Python CLI tool is for adding a new project
                        </p>
                        <a href="https://github.com/Aryan6600/Projects-Detailer" class="view-btn">
                            <ion-icon name="navigate-outline"></ion-icon>
                            View
                        </a>
                    </div>
                    <div class="card">
                        <h3>Timetable Management System</h3>
                        <p>A must have timetable management system for Small Schools, displays the location of the
                            current lecture of the faculty accoring to System Time<br>
                            Flask, for creating a server<br>
                            HTML/CSS for web page design<br>
                            Javasscript for API calling requests on the Python server and Searching Functionality
                        </p>
                        <a href="https://github.com/Aryan6600/School-Timetable/tree/webview" class="view-btn">
                            <ion-icon name="navigate-outline"></ion-icon>
                            View
                        </a>
                    </div>
                    <div class="card">
                        <h3>Python Chat App</h3>
                        <p>A Simple Python Chat app using PyQt5 and Firebase , Can only send text messages</p>
                        <a href="https://github.com/Aryan6600/Python-Chat-App" class="view-btn">
                            <ion-icon name="navigate-outline"></ion-icon>
                            View
                        </a>
                    </div>

                    <div class="card">
                        <h3>Novel Writing/Publishing Website</h3>
                        <p>A Platform to publish your own novels / read novels <br>
                            (Currently in Developement)
                            Using Node Js for Server, <Br>
                            ejs(html)/css/js for Web Designing and Simple Functions
                            MongoDB as a Database
                        </p>
                        <a href="https://github.com/Aryan6600/Novels" class="view-btn">
                            <ion-icon name="navigate-outline"></ion-icon>
                            View
                        </a>
                    </div>
                    <div class="card">
                        <h3>Blog Website</h3>
                        <p>I created this website to publish my own blogs, it is a fully functioning Blog, with admin
                            login to add/remove/delete your blogs<br>
                            Used Javascript for Server<br>
                            ejs/css/js for Web Designing<br>
                            MongoDB as Database
                        </p>
                        <a href="https://github.com/Aryan6600/blog" class="view-btn">
                            <ion-icon name="navigate-outline"></ion-icon>
                            View
                        </a>
                    </div>
                    <div class="card">
                        <h3>Login Pages Clones</h3>
                        <p>Clones of login pages of popular websites like Instagram/ Facebook/ Google/ Github</p>
                        <a href="https://github.com/Aryan6600/Sites" class="view-btn">
                            <ion-icon name="navigate-outline"></ion-icon>
                            View
                        </a>
                    </div>
                    <div class="card">
                        <h3>/static Stationery Website</h3>
                        <p>A Simple /static Stationery Website I created in my free time</p>
                        <a href="https://github.com/Aryan6600/Saran-Stationery" class="view-btn">
                            <ion-icon name="navigate-outline"></ion-icon>
                            View
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="common hobbies">
        <div class="container">
            <h2>Hobbies</h2>
            <div class="grid-wrapper">
                <div class="grid">
                    <div class="card hobby">
                        <h3>Reading</h3>
                    </div>
                    <div class="card hobby">
                        <h3>Coding</h3>
                    </div>
                    <div class="card hobby">
                        <h3>Gaming</h3>
                    </div>
                    <div class="card hobby">
                        <h3>Travelling</h3>
                    </div>
                    <div class="card hobby">
                        <h3>Sleeping</h3>
                    </div>
                    <div class="card hobby">
                        <h3>Singing</h3>
                    </div>
                    <div class="card hobby">
                        <h3>YouTube</h3>
                    </div>
                    <div class="card hobby">
                        <h3>Talking</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class=" skills common" id="skills">
        <div class="container">
            <h2>My Skillet</h2>
            <div class="grid-wrapper">
                <div class="grid">
                    <div class="card">
                        <h3>Full Stack Web Developement</h3>
                        <p>I am a Full Stack Web Developer with experience of many Projects.</p>
                    </div>
                    <div class="card">
                        <h3>Prior Experience in React Native</h3>
                        <p>Created some Apps using React Native and Expo.</p>
                    </div>
                    <div class="card">
                        <h3>Basic Python</h3>
                        <p>I also use Python as my Server Side, and I have a fair bit of experience working with Python.</p>
                    </div>
                    <div class="card">
                        <h3>Deployment</h3>
                        <p>Deployed Several Websites using DigitalOcean VPS.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <p>Made with &hearts; by Aryan Tiwari</p>   
    </footer>
    <script src="/static/about/script.js"></script>
</body>

</html>